<div class="here__grid">
  <div class="here__grid__item5">
    <h4 class="here__grid__slogan">Here is what you get</h4>
  </div>
  <div class="here__grid__item1">
    <img src="./img/here/part-here1.svg" alt="internet site" />
    <div>
      <h2 class="here__grid__itemtitle">Creatred to Make The Web Better</h2>
      <p class="here__grid__itemtext">
        Aenean cursus imperdiet nisl id fermentum. Aliquam pharetra dui laoreet
        vulputate dignissim. Sed id metus id quam auctor molestie eget ut augue.
      </p>
    </div>
  </div>
  <div class="here__grid__item2">
    <img src="./img/here/part-here2.svg" alt="timer" />
    <div>
      <h2 class="here__grid__itemtitle">Incredibly Powerful Tool</h2>
      <p class="here__grid__itemtext">
        Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio,
        ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida
        luctus. Aliquam erat volutpat.
      </p>
    </div>
  </div>
  <div class="here__grid__item3">
    <img src="./img/here/part-here3.svg" alt="elixir" />
    <div>
      <h2 class="here__grid__itemtitle">Experimental Stuff</h2>
      <p class="here__grid__itemtext">
        Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio,
        ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida
        luctus. Aliquam erat volutpat.
      </p>
    </div>
  </div>
  <div class="here__grid__item4">
    <img src="./img/here/part-here4.svg" alt="speed" />
    <div>
      <h2 class="here__grid__itemtitle">Creatred to Make The Web Better</h2>
      <p class="here__grid__itemtext">
        Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio,
        ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida
        luctus. Aliquam erat volutpat.
      </p>
    </div>
  </div>
  <div class="here__grid__item6">
    <picture>
      <img src="./img/here/part-here-window.png" alt="redactor screen" />
    </picture>
  </div>
</div>
